@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Lora:wght@400;700&display=swap");

:root {
  --primary-color: #1a237e;
  --secondary-color: #3f51b5;
  --accent-color: #ff9800;
  --text-color: #333333;
  --background-color: #e8eaf6;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.header {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 2rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.section {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border: 1px solid var(--secondary-color);
  text-align: center;
}

.top-sections {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.top-sections .section {
  flex: 1;
  min-width: 0; /* This prevents flex items from overflowing */
}

.interest-list,
.works-list,
.goals-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.interest-list li,
.works-list li,
.goals-list li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

ul,
ol {
  padding-left: 1.5rem;
}

.interest-list,
.works-list,
.goals-list {
  list-style-type: none;
  padding-left: 0;
}

.interest-list li,
.works-list li,
.goals-list li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.testimonial-list blockquote {
  font-style: italic;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 8px;
  position: relative;
}

.testimonial-list blockquote::before {
  content: '"';
  font-size: 3rem;
  position: absolute;
  left: 5px;
  top: -10px;
  color: var(--accent-color);
}

.gallery {
  text-align: center;
  max-width: 800px; /* Adjust this value as needed */
  margin: 0 auto;
  padding: 2rem 1rem;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  transition: transform 0.3s ease;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border: 2px solid var(--secondary-color);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

input[type="submit"],
button[type="submit"] {
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #f57c00;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 0.5rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  .image-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .section {
    padding: 1.5rem;
  }

  .image-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .top-sections {
    flex-direction: column;
  }

  .top-sections .section {
    margin-bottom: 1rem;
  }
}
